###     PROJECT NETFLIX

In [3]:
# Importing Necessary Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Reading CSV File
df = pd.read_csv("netflix_titles.csv")

In [79]:
df. sample(10)

,type,title,director,cast,country,release_year,rating,duration,listed_in,description,year_added,month_added,day_added
5170,TV Show,The Method,Not Mentioned,"Konstantin Khabenskiy, Paulina Andreeva, Alexa...",Russia,2015,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",An ambitious young law enforcement graduate is...,2017,11,15
4324,Movie,The American Meme,Bert Marcus,"Paris Hilton, Josh Ostrovsky, Brittany Furlan,...",United States,2018,TV-MA,98 min,Documentaries,"Social media stars Paris Hilton, Josh Ostrovsk...",2018,12,7
6750,TV Show,Filinta,Not Mentioned,"Onur Tuna, Serhat Tutumluer, Mehmet Özgür, Naz...",Turkey,2015,TV-14,2 Seasons,"Crime TV Shows, International TV Shows, TV Act...","In 19th-century Istanbul, a young police offic...",2017,4,15
4,TV Show,Kota Factory,Not Mentioned,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021,9,24
618,Movie,America: The Motion Picture,Matt Thompson,"Channing Tatum, Jason Mantzoukas, Olivia Munn,...",United States,2021,TV-MA,98 min,"Action & Adventure, Comedies",A chainsaw-wielding George Washington teams wi...,2021,6,30
5040,Movie,Love Per Square Foot,Anand Tiwari,"Vicky Kaushal, Angira Dhar, Alankrita Sahai, R...",India,2018,TV-14,133 min,"Comedies, International Movies, Romantic Movies","Individually, bank employees Sanjay and Karina...",2018,2,14
5125,TV Show,Wormwood,Not Mentioned,"Peter Sarsgaard, Molly Parker, Christian Camar...",United States,2017,TV-14,1 Season,"Crime TV Shows, Docuseries","In this genre-bending tale, Errol Morris explo...",2017,12,15
3568,Movie,Game Over (Hindi Version),Ashwin Saravanan,"Taapsee Pannu, Vinodhini, Parvathi T, Ramya Su...",United States,2019,TV-MA,98 min,"Horror Movies, International Movies, Thrillers","As a series of murders hit close to home, a vi...",2019,8,21
7475,Movie,Moh Maya Money,Munish Bhardwaj,"Ranvir Shorey, Neha Dhupia, Devendra Chowhan, ...",India,2016,TV-MA,109 min,"Dramas, Independent Movies, International Movies",After investing in a shady deal that quickly f...,2017,5,1
8136,Movie,Swami,Basu Chatterjee,"Shabana Azmi, Girish Karnad, Vikram, Dheeraj K...",India,1977,TV-PG,123 min,"Dramas, Independent Movies, International Movies","After she enters into an arranged marriage, a ...",2019,12,31

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      8807 non-null   object
 3   cast          8807 non-null   object
 4   country       8807 non-null   object
 5   release_year  8807 non-null   int64
 6   rating        8807 non-null   object
 7   duration      8807 non-null   object
 8   listed_in     8807 non-null   object
 9   description   8807 non-null   object
 10  year_added    8807 non-null   int32
 11  month_added   8807 non-null   int32
 12  day_added     8807 non-null   int32
dtypes: int32(3), int64(1), object(9)
memory usage: 791.4+ KB

In [21]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [33]:


# Fill missing values with the mode of each respective column
for col in ['country', 'date_added', 'rating', 'duration']:
    df[col] = df[col].fillna(df[col].mode()[0])  # Mode returns a Series, so we take the first mode value

# Verify if null values are removed
print(df.isnull().sum())

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [29]:
# Fill missing values in 'director' and 'cast' with "Not Mentioned"
df['director'] = df['director'].fillna("Not Mentioned")
df['cast'] = df['cast'].fillna("Not Mentioned")

# Verify if null values are removed
print(df.isnull().sum())

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [35]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [41]:
# Define the list of incorrect values to remove
invalid_ratings = ['74 min', '84 min', '66 min']

 #Remove invalid values by replacing them with the mode (most frequent rating)
mode_rating = df['rating'].mode()[0]  # Get the most common rating
df['rating'] = df['rating'].replace(invalid_ratings, mode_rating)

# Verify if the incorrect values are removed
print(df['rating'].unique())

['PG-13' 'TV-MA' 'PG' 'TV-14' 'TV-PG' 'TV-Y' 'TV-Y7' 'R' 'TV-G' 'G'
 'NC-17' 'NR' 'TV-Y7-FV' 'UR']

In [43]:
# Drop the 'show_id' column
df.drop(columns=['show_id'], inplace=True)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      8807 non-null   object
 3   cast          8807 non-null   object
 4   country       8807 non-null   object
 5   release_year  8807 non-null   int64
 6   rating        8807 non-null   object
 7   duration      8807 non-null   object
 8   listed_in     8807 non-null   object
 9   description   8807 non-null   object
 10  Year          8807 non-null   int32
 11  Month         8807 non-null   int32
 12  Day           8807 non-null   int32
dtypes: int32(3), int64(1), object(9)
memory usage: 791.4+ KB

In [87]:
# Rename the columns
df.rename(columns={'year_added': 'Year', 'month_added': 'Month', 'day_added': 'Day'}, inplace=True)

In [91]:
df["genre"] = df["listed_in"].str.split(",").str[0]

In [93]:
df["genre"].value_counts().head(5)

genre
Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: count, dtype: int64

In [117]:
# To find the lead actor from the cast

In [111]:
df = df[df["cast"]!="Not Mentioned"]

In [113]:
df["lead_actor"] = df["cast"].str.split(",").str[0]

In [115]:
df["lead_actor"].value_counts().head(5)

lead_actor
Shah Rukh Khan        26
Akshay Kumar          23
Amitabh Bachchan      20
David Attenborough    20
Adam Sandler          20
Name: count, dtype: int64

In [135]:
df.sample(10)

,type,title,director,country,release_year,rating,duration,description,Year,Month,Day,genre,lead_actor
4345,Movie,Once a Gangster,Felix Chong,Hong Kong,2010,TV-MA,95 min,Two former triads are tapped to run in an elec...,2018,12,1,Action & Adventure,Ekin Cheng
1510,Movie,The Con Is On,James Haslam,"United States, United Kingdom",2018,R,95 min,Two wedded partners-in-crime flee from their m...,2020,12,21,Comedies,Uma Thurman
2303,TV Show,Warrior Nun,Not Mentioned,United States,2020,TV-MA,1 Season,"After waking up in a morgue, an orphaned teen ...",2020,7,2,TV Action & Adventure,Alba Baptista
5735,Movie,Spanish Affair 2,Emilio Martínez Lázaro,Spain,2015,TV-MA,107 min,Spanish provincialism is put into the spotligh...,2016,11,1,Comedies,Dani Rovira
6351,Movie,Bobby Robson: More Than a Manager,"Gabriel Clarke, Torquil Jones",United Kingdom,2018,TV-14,99 min,Explore the life and times of legendary soccer...,2018,12,1,Documentaries,Bobby Robson
5142,Movie,Monster Island,Leopoldo Aguilar,"India, Mexico",2017,TV-Y7,81 min,When a teenager discovers he's not really huma...,2017,12,1,Children & Family Movies,Joey Camen
5013,Movie,Something Huge,Carlo Padial,Spain,2017,TV-MA,87 min,"A director and a comedian want to shoot the ""c...",2018,3,1,Comedies,Berto Romero
1552,TV Show,Tiny Pretty Things,Not Mentioned,United States,2020,TV-MA,1 Season,When an attack brings down the star student at...,2020,12,14,TV Dramas,Lauren Holly
1299,TV Show,Thus Spoke Kishibe Rohan,Not Mentioned,United States,2021,TV-MA,1 Season,A popular manga creator becomes enmeshed in pa...,2021,2,18,Anime Series,Takahiro Sakurai
578,Movie,Memoirs of a Geisha,Rob Marshall,"France, Japan, United States",2005,PG-13,145 min,"Sold to a geisha house as a child, a fisherman...",2021,7,1,Dramas,Zhang Ziyi

In [127]:
# Dropping listed_in and cast column
df.drop(["listed_in","cast"], axis=1, inplace=True)

In [133]:
df.drop(['Lead Actor'], axis= 1 ,  inplace = True)

In [137]:
df.to_csv("cleaned_data.csv")